@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    background-color: #101922;
    color: #ffffff;
}
header{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 1em;
    
}
   
li{
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 12px;
    
}
li a{
    text-decoration: none;
    color: #ffffff;
}
button{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #1073d3;
    color: #ffffff;
    border: none;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 12px;
}