@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #101922;
    color: #ffffff;
}
header{
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px;
    border-bottom: 3px solid #1a232c;
}

li{
    list-style: none;
    display: inline-block;
    padding: 0px 30px;
    width: -10px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 13px;
    margin-right: 20px;
}
li a{
    text-decoration: none;
    color: #ffffff;
}

li a:hover{
    color: #1073d3;
}
button{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #1073d3;
    color: #ffffff;
    border: none;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    margin-left: 80px;
}
section h1{
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 5%;
}
section p{
    font-size: 16px;
    font-family: 'IBM Plex Mono', monospace;
    line-height: 1.5;
    width: 100%;
    color: #b0b0b0;
    margin-left: 5%;
}
em{
    color: #1073d3;
}
.photo{
    margin-right: 4%;
    border-radius: 10%;
    width: 350px;
    height: 300px;
    float: inline-end;
    margin-left: 3%;
    margin-top: 4%;
}
.icons{
    margin-left: 5%;
    margin-top: 3%;
    display: flex;
    align-items: center;
    gap: 40px;
    border-radius: 20%;
}
.icons img{
    border-radius: 10%;
    background-color: #19212e;
    padding: 30px;
    height: 40px;
    width: 40px;
    border: 1px solid #1a232c;
}