@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

html{
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

body{
    background-color: #101922;
    color: #ffffff;
    overflow-x: hidden;
}
/* Nav bar inicio,servicios, proyectos, testimonios */
header{
    height: auto;
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 4%;
    border-bottom: 3px solid #1a232c;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
li{
    padding: 10px 15px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 13px;
}
li a{
    text-decoration: none;
    color: #ffffff;
}

li a:hover{
    color: #1073d3;
}
.menu.affix {
    position: sticky !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    z-index: 1000 !important;
    background-color: #101922;
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.5); 
    padding: 0 6%;
    box-sizing: border-box;
}

/* Manejo del botton contactame */
#miBoton{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #1073d3;
    color: #ffffff;
    border: none;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    margin-left: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}
/* Menu hamburguesa */
.menu-toggle {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    border: none;
    background: none;
    padding: 15px 0;
    transition: transform 0.3s ease;
}

.menu-toggle span {
    width: 26px;
    height: 3px;
    background-color: #fff;
    display: block;
    border-radius: 2px;
    transition: all 0.3s ease;
    
}

.menu-toggle.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}
.menu-toggle.active span:nth-child(2) {
    opacity: 0;
}
.menu-toggle.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

/* Manejo de la foto y el contenedor de biografia */
.hero-container{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 5%;
}
/* Manejo del nombre y el rol */
section h1{
    font-size: clamp(28px, 5vw, 40px) ;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 20px;
}
/* Manejo de la biografia */
section p{
    font-size: 16px;
    font-family: 'IBM Plex Mono', monospace;
    line-height: 1.5;
    max-width: 600px;
    color: #b0b0b0;
    text-align: left;
    margin-left: 0%;
    margin-right: auto;
}
em{
    color: #1073d3;
}
/* fotografia alejandro */
.photo{
    border-radius: 20%;
    width: 350px;
    height: 350px;
    object-fit: cover;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    transition: 0.3s;
    max-width: 550px;
    opacity: 0.9;
    filter: grayscale(20%);
    margin: 0px auto;
}

/* .text-seccion1{
    width: 90%;
    margin: 20px auto;
    text-align: center;
} */
/* back de iconos */
.icons{
    margin-left: 5%;
    margin-top: 0%;
    display: flex;
    align-items: center;
    gap: 40px;
}
/* iconos de tecnologias aprendidas */
.icons img{
    border-radius: 10%;
    background-color: #19212e;
    padding: 30px;
    height: 40px;
    width: 40px;
    border: 3px solid #1a232c;
}
/* titulo seccion como te puedo ayudar */
.title-seccion{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    text-align: center;
    width: 90%;
    margin: 20% auto;
    margin-bottom: auto;
}
/* texto de la sección como te puedo ayudar */
.text-seccion1{
    font-size: 16px;
    font-family: 'IBM Plex Mono', monospace;
    width: 50%;
    color: #b0b0b0;
    margin-top: 10px;
    margin-left: 27%;
    text-align: center;
}
/* titulo box 1 stilos */
.title2-seccion1{
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;
    margin-left: 7%;
}
/* box 1 stilos */
.text2-seccion1{
    font-size: 13px;
    font-family: 'IBM Plex Mono', monospace;
    width: 90%;
    margin-left: 7%;
    color: #b0b0b0;
    text-align: left;
}
/* titulo box 2 stilos */
.title3-seccion1{
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;
    margin-left: 7%;
}
/* box 2 stilos */
.text3-seccion1{
    font-size: 13px;
    font-family: 'IBM Plex Mono', monospace;
    width: 90%;
    color: #b0b0b0;
    margin-left: 7%;
    text-align: left;
}
/* .box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 70px;
} */
 /* manejo de las cajas e items */
.item {
    padding: 20px;
    border: 2px solid #1d3a44;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    margin: 5px auto;
    max-width: 350px;
    box-sizing: border-box;
   
}

/* .proyectos-destacados{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    margin: 50px auto;
    padding: 10px 5%;
    max-width: 2000px;
    margin-right: 50px;
} */
 /* titulo de cada proyecto */
.title-proyecto1{
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 15px;
    text-align: center;
    color: gray ;
}
/* texto de los proyectos */
.text-proyecto1, .text-proyecto2, .text-proyecto3{
    font-size: 12px;
    font-family: 'IBM Plex Mono', monospace;
    margin-top: 15px;
    text-align: center;
    color: gray;
    width: 100%;
    margin-left: 0;

}
/* links de los proyectos */
.link-proyecto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px auto;
    justify-content: center;
    margin-top: auto;
    border-radius: 5px;
    background-color: #1d3a44;
    color: #ffffff;
    border: none;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 11px;
    cursor: pointer;
    width: 90%;
}
.link-proyecto:hover{
    background-color: gray;
}
/* manejo de cajas en los proyectos */
.proyecto1, .proyecto2, .proyecto3{
    background-color: #19212e;
    border-radius: 20px;
    padding: 0%;

}
/* imagenes de los proyectos */
.img-proyect{
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}
/* texto testimonio */
.encabezado-testimonio{
    text-transform: capitalize;
    font-size: 14px;
    font-family: 'IBM Plex Mono', monospace;
    margin-top: 20px;
    margin-bottom: 10px;
    color: gray;
    text-align: center;
}
/* .testimonios-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    margin: 50px auto;
    padding-inline: clamp(16px, 4vw, 40px);

} */

/* fotos de testimonio */
.testimonio-foto{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 5% auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Texto testimonio */
.text_testimonio{
    font-size: 13px;
    font-family: 'IBM Plex Mono', monospace;
    margin: 5% auto;
    text-align: center;
    color: gray;
    width: 80%;
}
/* manejo de testimonio y estilización  */
.testimonio_1, .testimonio_2, .testimonio_3{
    border-radius: 20px;
    padding: 10px;
    height: auto;
    border: 2px solid #1d3a44;
}
/* Parrafo de la sección contacto */
.text-seccion-contacto{
    font-size: 14px;
    font-family: 'IBM Plex Mono', monospace;
    width: 60%;
    color: #b0b0b0;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

/* boton de formulario */
.boton-contacto{
    padding: 15px 30px;
    border-radius: 25px;
    background-color: #1073d3;
    color: #ffffff;
    border: none;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}
.boton-contacto:hover{
    background-color: #0d5bb5;
}

/* manejo del footer */

footer{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-top: 3px solid #1a232c;
    margin-top: 120px;
}
/* Estilos a los iconos de redes sociales */

.redes-sociales{
    display: flex;
    align-items: center;
    gap:100px;
    margin: 0 auto;
    pointer-events: auto;
}
.redes-sociales :hover{
    color: #ffffff;
}
/* Estilos al copyright */

.copyright{
    font-size: 13px;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    color: gray;
    margin-top: 10px;
}

/* Arreglos mejoras responsivas */

@media (max-width: 768px){
    header {
        justify-content: left;
        flex-direction: column;
        gap: 1px;
    }
    button{
        margin-left: 0;
        width: 40%;
    }
    .hero-container{
        flex-direction: column;
        text-align: center;
        padding: 40px 5%;
        gap: 30px;
    }
    .photo{
        width: 250px;
        height: 250px;
    }
    .name{
        font-size: 32px;
    }
    .biografia{
        font-size: 14px;
        margin: 0 10%;
        text-align: center;
    }
    .section h1, .section p{
        margin-left: 0;
        text-align: center;

    }
    .icons{
        justify-content: center;
        margin-left: 0%;
        gap: 10px;
    }
    .redes-sociales{
        gap: 30px;
    }
    .menu-toggle {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: end;
        left: 50%;
        transform: translateX(-50%);
    }
    .barra-navegacion {
        position:relative;
    }
    .barra-navegacion ul {
        list-style: none;
        top: 100%;
        left: 0;
        position: relative;
        display: none;
        flex-direction: column;
        width: 100%;
        padding: 10px 0;
        background-color:#101922;
        right: 0;
    }
     .barra-navegacion ul.active {
        display: flex;
    }

}
 .box, .proyectos-destacados, .testimonios-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    padding: 10px 20px;
    margin: 50px auto;
    max-width: 1200px;
}
